# Distribution Files
build/
dist/
*.egg-info/

# Python Files/cache
__pycache__/
*.save

# MacOS Specific
.DS_Store

# EXAMPLE_SETUP
EXAMPLE_SETUP/*
!EXAMPLE_SETUP/main.py
!EXAMPLE_SETUP/FilesToCopy*
!EXAMPLE_SETUP/FilesToCopy/quicfire*

# ZCC Dev Folders
FF_Fuel/
FilesToCopy/
Run/
Shapefiles/
00_Ignore/